<button mat-raised-button color="primary" (click)="toggleCreateRoom()">Create new Room</button>
<button mat-raised-button color="primary" (click)="toggleChatRoom()">ChatRoom</button>
<button mat-raised-button color="primary" (click)="toggleAddMem()">Add new Member</button>
<div *ngIf="roomservice.currentroom">
    <p class="h2">My Rooms</p>
    <ul class="list-group" *ngIf="allrooms">
        <li class="list-group-item" *ngFor="let room of allrooms" (click)="selectRoom(room)">
            <p class="h4">{{room.name}}</p>
        </li>
    </ul>

    <p class="h2 mt-5">Members in Rooms</p>
    <ul class="list-group" *ngIf="roomservice.currentroom">
        <li class="list-group-item" *ngFor="let member of roomMembers">
            <p class="h4">{{member.name}}</p>
        </li>
    </ul>

    <p class="h3">Cuurently Joined : </p>
    <p class="h4">{{roomservice.currentroom.name}}</p>

    <div class="container">
        <mat-card>
            <div class="card-body">
                <p *ngFor="let msg of messages">
                    {{msg.message}}
                </p>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="!roomservice.currentroom">
    <p class="text-center display-4">Create A Room First</p>
</div>

<app-createroom *ngIf="showCreateRoom"></app-createroom>
<app-chat *ngIf="showChatRoom" [roomdata] = "roomservice.currentroom"></app-chat>
<app-add-member *ngIf="showAddMem" [roomdata] = "roomservice.currentroom"></app-add-member>